<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Forgot Password</title>
        <link rel='stylesheet' type='text/css' href='../../public/css/signin&forgotpw.css' />
        <script src='https://kit.fontawesome.com/64d58efce2.js' crossorigin='anonymous'></script>
        <script src='../../public/js/forgotpw.js'></script>
        <!-- Include your JavaScript file -->
    </head>
    <body>
        <div class='container'>
            <div class='forms-container'>
                <div class='signin-signup'>
                    <form action='' class='reset-password-form' id='resetPasswordForm'>
                        <h2 class='title'>Forgot Password</h2>

                        <div class='additional-lines'>
                            <p class='centered-text'>
                                Enter the email address associated with
                                <br />
                                your account.<br /><br />
                            </p>
                            <p class='centered-text gray-text'>
                                We will email you an OTP to reset
                                <br />
                                your password.<br /><br />
                            </p>
                        </div>
                        <div class='input-field'>
                            <i class='fas fa-envelope'></i>
                            <input type='email' id='emailInput' placeholder='Email' />
                            <span id='email-error' class='error-span'></span>
                        </div>
                        <input type='submit' value='Send OTP' class='btn solid' />
                        <p class='forgot-password'>
                            <a href='/signin'>Log in with password</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>