<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Đặt lại mật khẩu</title>
        <link rel='stylesheet' type='text/css' href='../../public/css/resetpw.css' />
        <script src='https://kit.fontawesome.com/64d58efce2.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <div class='container'>
            <div class='forms-container'>
                <div class='signin-signup'>
                    <form action='' class='reset-password-form' id='resetPasswordForm' style="height: 550px">
                        <h2 class='title'>Đặt lại mật khẩu</h2>

                        <div class='additional-lines'>
                            <p class='centered-text'>
                                Nhập mã xác minh chúng tôi vừa gửi
                                <br />
                                qua địa chỉ email của bạn.<br /><br />
                            </p>
                        </div>

                        <div class='otp-field mb-4'>
                            <input type='number' id='otp1' />
                            <input type='number' id='otp2' disabled />
                            <input type='number' id='otp3' disabled />
                            <input type='number' id='otp4' disabled />
                            <input type='number' id='otp5' disabled />
                            <input type='number' id='otp6' disabled />
                        </div>

                        <div class='input-field'>
                            <i class='fas fa-envelope'></i>
                            <input type='email' id='emailInput' placeholder='Email' />
                            <span id='email-error' class='error-span'></span>
                        </div>

                        <div class='input-field'>
                            <i class='fas fa-lock'></i>
                            <div>
                                <input type='password' id='newPassword' placeholder='Mật khẩu mới' />
                                <i class='fas fa-eye-slash' id='toggleNewPassword'></i>
                            </div>
                        </div>

                        <div class='input-field'>
                            <i class='fas fa-check'></i>
                            <div>
                                <input
                                    type='password'
                                    id='confirmPassword'
                                    placeholder='Nhập lại mật khẩu mới'
                                />
                                <i class='fas fa-eye-slash' id='toggleConfirmPassword'></i>
                            </div>
                        </div>

                        <p class='resend-text'>
                            Nếu không nhận được mã!
                            <a class='resend' href='/forgotPassword'>Gửi lại</a><br /><br />
                        </p>
                        <input type='submit' value='Xác nhận' class='btn solid' />
                    </form>
                </div>
            </div>
        </div>
        <script src='../../public/js/resetpw.js'></script>
        <script>
            const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
            const confirmPassword = document.getElementById('confirmPassword');

            toggleConfirmPassword.addEventListener('click', function() {
                const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
                confirmPassword.setAttribute('type', type);

                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye');
            });
            
            const toggleNewPassword = document.getElementById('toggleNewPassword');
            const newPassword = document.getElementById('newPassword');

            toggleNewPassword.addEventListener('click', function() {
                const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
                newPassword.setAttribute('type', type);

                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye');
            });
        </script>
    </body>
</html>