:root {
  --Blue: #1c89d0;
  --Blue2: #043b56;
  --LightBlue: #e1f5fd;
  --Green: #418244;
  --Green2: #1c3d1d;
  --LightGreen: #eaf6ea;
  --Red: #d03535;
  --LightRed: #ffdcdc;
  --White: #ffffff;
}
