:root {
    --Blue: #1C89D0;
    --Blue2: #043B56;
    --LightBlue: #E1F5FD;
    --Green: #418244;
    --Green2: #1C3D1D;
    --LightGreen: #EAF6EA;
    --Red: #D03535;
    --LightRed: #FFDCDC;
    --White: #FFFFFF;
}