<div
    class='modal fade addAdsPointModal'
    id='addAdsPointModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <img
                    src='../../../public/assets/icons/Add_icon.svg'
                    style='height: 35px; width: 35px;'
                />
                <h5 class='modal-requestEdit-title text-success' id='reportModalLabel'>
                    Thêm điểm quảng cáo mới
                </h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <form id='addAdsPointForm' enctype='multipart/form-data'>
                    <div class='mb-3'>
                        <label for='reportType' class='form-label' style='font-family: Inter;'>Điểm quảng cáo</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='add_locationName'
                            required
                        />
                    </div>
                    <div class="d-flex flex-row column-gap-3">
                        <div class='mb-3' id='addDistrict'>
                            <label for='addDistrict' class='form-label' style='font-family: Inter'>
                                <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                    <div class="nowrap">Quận</div>
                                    <p class='mb-0 softer-text fw-nomral'></p>
                                </div>
                            </label>
                            <select class='form-select addDistrictType' id='add_district' required>
                                <option class='mb-0 softer-text fw-nomral' selected disabled>
                                        -- Chọn Quận --
                                </option>
                                {{!-- {{#each ../districts}}
                                        <option value="{{districtName}}" {{#ifCond districtName "===" ../location.district}}selected{{/ifCond}}>{{districtName}}</option>
                                {{/each}} --}}

                            </select>
                        </div>
                        <div class='mb-3' id='addWard'>
                            <label for='addWard' class='form-label' style='font-family: Inter'>
                                <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                    <div class="nowrap">Phường</div>
                                    <p class='mb-0 softer-text fw-nomral'></p>
                                </div>
                            </label>
                            <select class='form-select addWardType' id='add_ward' required>
                                <option class='mb-0 softer-text fw-nomral' selected disabled>
                                        -- Chọn Phường --
                                </option>
                                <option value={{location.ward}} selected>{{location.ward}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='mb-3'>
                        <label for='address' class='form-label' style='font-family: Inter'>Địa chỉ</label>
                        <textarea
                            class='form-control fullNameReport search-box'
                            id='add_address'
                            style="height: 100px;"
                            required
                        ></textarea>
                        <div class="map-search-box mt-2 rounded"></div>
                    </div>
                    <div class='mb-3'>
                        <label for='add_locationType' class='form-label' style='font-family: Inter'>Loại vị trí</label>
                        <select class='form-select reportType' id='add_locationType' required>
                            <option
                                disabled
                                selected
                            > --- Chọn loại vị trí ---
                            </option>
                            <option
                                value='Đất công/Công viên/Hành lang an toàn giao thông'
                                
                            >
                                Đất công/Công viên/Hành lang an toàn giao thông
                            </option>
                            <option value='Đất tư nhân/Nhà ở riêng lẻ'>
                                Đất tư nhân/Nhà ở riêng lẻ
                            </option>
                            <option value='Trung tâm thương mại'>Trung tâm thương mại</option>
                            <option value='Chợ'>Chợ</option>
                            <option value='Cây xăng'>Cây xăng</option>
                            <option value='Nhà chờ xe buýt'>Nhà chờ xe buýt</option>
                        </select>
                    </div>
                    <div class='mb-3'>
                        <label for='add_adsType' class='form-label' style='font-family: Inter'>Hình thức quảng cáo</label>
                        <select class='form-select reportType' id='add_adsType' required>
                            <option
                                disabled
                                selected
                            > --- Chọn hình thức ---
                            </option>
                        </select>
                    </div>
                    <div class='mb-3'>
                        <label for='add_planningStatus' class='form-label' style='font-family: Inter'>Trạng thái địa điểm</label>
                        <select class='form-select reportType' id='add_planningStatus' required>
                            <option
                                disabled
                                selected
                            > --- Chọn trạng thái ---
                            </option>
                            <option value='Đã quy hoạch' selected>Đã quy hoạch</option>
                            <option value='Chưa quy hoạch'>Chưa quy hoạch</option>
                        </select>
                    </div>
                    <div class='mb-3'>
                        <div class="form-group">
                            <label for="add_adsPointImages" class='form-label' style='font-family: Inter'>Cập nhật hình ảnh</label>
                            <input type="file" multiple class="add_adsPointImages" id="add_adsPointImages" name="add_adsPointImages">
                        </div>
                    </div>
                    <div class='button-container justify-content-center'>
                        <div
                            id='recaptcha'
                            class='g-recaptcha'
                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                            data-callback='onSubmit'
                            data-size='invisible'
                        ></div>
                        <div class='d-grid gap-2 col-3 mx-auto'>
                            <button
                                id='addButton'
                                type='submit'
                                class='btn btn-success m1'
                                style='font-family: Inter'
                            >
                                THÊM
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>