<script src='../../public/js/createAccount.js' defer></script>

<div
    class='modal fade'
    id='createAccountModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-detail-title'>
                    Tạo tài khoản
                </h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <form class='createAccountForm' id='createAccountForm' enctype='multipart/form-data'>
                    <div class='mb-3'>
                        <label for='register_fullName' class='form-label' style='font-family: Inter;'>Họ và tên</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='register_fullName'
                            required
                        />
                    </div>
                    <div class='mb-3'>
                        <label for='register_userName' class='form-label' style='font-family: Inter;'>Tên tài khoản</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='register_userName'
                            required
                        />
                    </div>
                    <div class='mb-3'>
                        <label for='register_password' class='form-label' style='font-family: Inter'>Mật khẩu</label>
                        <div class='input-group'>
                            <input
                                type='password'
                                class='form-control'
                                id='register_password'
                                required
                            />
                            <button class='btn btn-outline-secondary' type='button' id='togglePassword'>
                                <i class='bi bi-eye'></i>
                            </button>
                        </div>
                    </div>
                    <div class='mb-3'>
                        <label for='register_confirmPassword' class='form-label' style='font-family: Inter'>Nhập lại mật khẩu</label>
                        <div class='input-group'>
                            <input
                                type='password'
                                class='form-control'
                                id='register_confirmPassword'
                                required
                            />
                            <button class='btn btn-outline-secondary' type='button' id='toggleConfirmPassword'>
                                <i class='bi bi-eye'></i>
                            </button>
                        </div>
                    </div>
                    <div class='mb-3'>
                        <label for='register_DOB' class='form-label' style='font-family: Inter'>Ngày sinh</label>
                        <input type='text' id='register_DOB' class='form-control' required />
                    </div>
                    <div class='mb-3'>
                        <label for='register_email' class='form-label' style='font-family: Inter'>Email</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='register_email'
                            required
                        />
                    </div>
                    <div class='mb-3'>
                        <label for='register_phoneNumber' class='form-label' style='font-family: Inter'>Số điện thoại</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='register_phoneNumber'
                            required
                        />
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <div class="mb-3">
                            <label for="registerRole" class="form-label" style="font-family: Inter;">Vai trò cán bộ</label>
                            <select class="form-select reportType" id="register_role" required>
                                <option value="Phường" selected>Phường</option>
                                <option value="Quận">Quận</option>
                            </select>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <div class="mb-3" id="registerDistrict">
                                <label for="register_district" class="form-label" style="font-family: Inter;">Quận</label>
                                <select class="form-select districtType" id="register_district" required>
                                    <option class="mb-0 softer-text fw-nomral" selected disabled>-- Chọn Quận --</option>
                                </select>
                            </div>
                            <div class="mb-3" id="registerWard">
                                <label for="register_ward" class="form-label" style="font-family: Inter;">Phường</label>
                                <select class="form-select wardType" id="register_ward" required>
                                    <option class="mb-0 softer-text fw-nomral" selected disabled>-- Chọn Phường --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='button-container justify-content-center'>
                        <div
                            id='recaptcha'
                            class='g-recaptcha'
                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                            data-callback='onSubmit'
                            data-size='invisible'
                        ></div>
                        <div class='d-grid gap-2 col-3 mx-auto'>
                            <button
                                id='createAccountButton'
                                type='submit'
                                class='btn btn-primary'
                                style='font-family: Inter'
                            >
                                TẠO TÀI KHOẢN
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>