// prettier-ignore {
{{#section 'css'}}
    <link rel='stylesheet' href='../../public/css/report.css' />
{{/section}}
}

<div
    class='modal fade'
    id='detailAdsBoardModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-detail-title' id='reportModalLabel'>OMG</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-detail-body'>
                <form class='report-form' id='reportForm' enctype='multipart/form-data'>
                    <div class='mb-3 d-grid gap-2'>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Địa điểm:</h5>
                                <p class='mb-0'>Thanh Đa</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Địa chỉ</h5>
                                <p class='mb-0'>227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP.HCM</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Loại vị trí</h5>
                                <p class='mb-0'>Gì đó</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Hình thức quảng cáo</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
                                <p class='mb-0'>Đã quy hoạch</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Loại bảng quảng cáo</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Kích thước</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Số lượng</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Hình ảnh</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                        <div class='card border'>
                            <div class='card-body'>
                                <h5 class='card-title fw-semibold mb-4'>Ngày hết hạn của hợp đồng
                                    quảng cáo</h5>
                                <p class='mb-0'>This is a sample page</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>