<div
    class='modal fade'
    id='editReportTypeModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                    Thêm thông tin
                </h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <form class='report-form' id='editReportTypeForm' enctype='multipart/form-data'>
                    <div class='mb-3'>
                        <label for='reportType' class='form-label' style='font-family: Inter;'>Hình thức báo cáo</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='fullName'
                            value="Sample"
                            required
                        />
                    </div>
                    <div class='button-container justify-content-center'>
                        <div
                            id='recaptcha'
                            class='g-recaptcha'
                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                            data-callback='onSubmit'
                            data-size='invisible'
                        ></div>
                        <div class="d-flex justify-content-center">
                            <div class='d-grid col-md-3 mx-2'>
                                <button
                                    id='deleteButton'
                                    type='button'
                                    class='btn btn-outline-danger btn-block'
                                    style='font-family: Inter'
                                >
                                    XÓA
                                </button>
                            </div>
                            <div class='d-grid col-md-3 mx-2'>
                                <button
                                    id='saveButton'
                                    type='button'
                                    class='btn btn-success btn-block'
                                    style='font-family: Inter'
                                >
                                    LƯU
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>