{{#section 'css'}}
<link rel="stylesheet" href="/public/css/report.css" />


<style>
    #buttonStyle {
        transition: filter 0.1s ease-in-out;
    }
    #buttonStyle:hover {
        filter: brightness(0) invert(1);
    }
</style>
{{/section}}

<nav class='navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top' id="navbar">
    <div class='container'>
        <a class='navbar-brand' href='/'>
        <div class="d-flex gap-1">
            <img
            src='/public/assets/icons/Map_icon.svg'
            alt='report-icon'/>
            <div class="text-primary fw-bold">Bản đồ</div>
        </div>
        </a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse justify-content-end' id='navbarNavDropdown'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Báo cáo</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/admin/adsboard/license/list'>Cấp phép</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href=''>Yêu cầu</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/district'>Quản lý Quận/Phường</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/admin/types/list'>Quản lý phân loại</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href=''>Danh sách tài khoản</a>
                </li>
                <li class='nav-item'>
                    <button type='button' class='btn btn-outline-primary me-2' data-bs-toggle='modal' data-bs-target='#createAccountModal'>
                        <div id="buttonStyle">
                            <img src="/public/assets/icons/CreateAccount_icon.svg" alt="" width="24" height="24" />
                            Tạo tài khoản
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


{{> createAccount}}