<style>
    input { z-index: 1; } .search-bar { width: 30%; position: absolute; margin-left: 1.5%; }
</style>
<nav>
    <div>
        <form class='d-flex' role='search'>
            <input
                id='searchInput'
                class='search-bar form-control mt-3 mr-sm-2 shadow'
                type='text'
                placeholder='Search'
                aria-label='Search'
            />
        </form>
    </div>
</nav>