<!-- Report Modal -->
<div
    class='modal fade'
    id='reportModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <span id='boot-icon' class='bi bi-exclamation-triangle reportIcon'></span>
                <h5 class='modal-title' id='reportModalLabel'>Báo cáo vi phạm</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <form class='report-form' id='requestLicenseAdsBoardForm' enctype='multipart/form-data'>
                    <div class='mb-3'>
                        <label for='reportType' class='form-label'>Hình thức</label>
                        <select class='form-select reportType' id='reportType' required>
                            <option value='' disabled selected>
                                -- Chọn hình thức báo cáo --
                            </option>
                            <option value='Tố giác sai phạm'>Tố giác sai phạm</option>
                            <option value='Đăng ký nội dung'>Đăng ký nội dung</option>
                            <option value='Đóng góp ý kiến'>Đóng góp ý kiến</option>
                            <option value='Giải đáp thắc mắc'>Giải đáp thắc mắc</option>
                        </select>
                    </div>
                    <div class='mb-3'>
                        <label for='fullName' class='form-label'>Họ và tên</label>
                        <input
                            type='text'
                            class='form-control fullNameReport'
                            id='fullName'
                            required
                        />
                    </div>
                    <div class='mb-3'>
                        <label for='email' class='form-label'>Email</label>
                        <input type='email' class='form-control reportEmail' id='email' required />
                    </div>
                    <div class='mb-3'>
                        <label for='phone' class='form-label reportPhone'>Số điện thoại liên lạc</label>
                        <input type='tel' class='form-control' id='phone' required />
                    </div>
                    <div class='mb-3'>
                        <label for='reportContent' class='form-label reportContent'>Nội dung</label>
                        <textarea id='reportContent' required></textarea>
                    </div>
                    <div class='mb-3'>
                        <label for='image1' class='form-label reportImage'>Hình ảnh 1</label>
                        <input type='file' class='form-control' id='image1' accept='image/*' />
                    </div>
                    <div class='mb-3'>
                        <label for='image2' class='form-label reportImage'>Hình ảnh 2</label>
                        <input type='file' class='form-control' id='image2' accept='image/*' />
                    </div>

                    <div class='button-container'>
                        <div
                            id='recaptcha'
                            class='g-recaptcha'
                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                            data-callback='onSubmit'
                            data-size='invisible'
                        ></div>
                        <button id='submitReportButton' type='button' class='submit-btn'>
                            Gửi
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>