<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 100%">
    <a href="/district" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sở - Quản lý</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="/district" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Quản lý Phường / Quận
        </a>
      </li>
      <li>
        <a href="/types/list" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Quản lý phân loại
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="/public/assets/icons/CreateAccount_icon.svg" alt="" width="24" height="24" />
          Danh sách tài khoản
        </a>
      </li>
    </ul>
    <hr>
</div>