<script src="../../public/js/updatePassword.js"></script>

<div
    class='modal fade'
    id='updatePasswordModal'
    tabindex='-1'
    aria-labelledby='reportModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-detail-title'>
                    Cập nhật mật khẩu
                </h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                <form class='updatePasswordForm' id='createAccountForm' enctype='multipart/form-data'>
                    <div class='mb-3'>
                        <label for='oldPassword' class='form-label' style='font-family: Inter'>Mật khẩu hiện tại</label>
                        <div class='input-group'>
                            <input
                                type='password'
                                class='form-control'
                                id='oldPassword'
                                required
                            />
                            <button class='btn btn-outline-secondary' type='button' id='toggleOldPassword'>
                                <i class='bi bi-eye'></i>
                            </button>
                        </div>
                    </div>
                    <div class='mb-3'>
                        <label for='newPassword' class='form-label' style='font-family: Inter'>Mật khẩu mới</label>
                        <div class='input-group'>
                            <input
                                type='password'
                                class='form-control'
                                id='newPassword'
                                required
                            />
                            <button class='btn btn-outline-secondary' type='button' id='toggleNewPassword'>
                                <i class='bi bi-eye'></i>
                            </button>
                        </div>
                    </div>
                    <div class='mb-3'>
                        <label for='confirmNewPassword' class='form-label' style='font-family: Inter'>Nhập lại mật khẩu mới</label>
                        <div class='input-group'>
                            <input
                                type='password'
                                class='form-control'
                                id='confirmNewPassword'
                                required
                            />
                            <button class='btn btn-outline-secondary' type='button' id='toggleConfirmNewPassword'>
                                <i class='bi bi-eye'></i>
                            </button>
                        </div>
                    </div>
                    <div class='button-container justify-content-center'>
                        <div
                            id='recaptcha'
                            class='g-recaptcha'
                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                            data-callback='onSubmit'
                            data-size='invisible'
                        ></div>
                        <div class='d-grid gap-2 col-3 mx-auto'>
                            <button
                                id='createAccountButton'
                                type='submit'
                                class='btn btn-primary'
                                style='font-family: Inter'
                            >
                                CẬP NHẬT
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>