
{{#section 'css'}}
<link rel="stylesheet" href="../../../public/css/report.css" />
    <style>
        #buttonStyle {
            transition: filter 0.1s ease-in-out;
        }
        #buttonStyle:hover {
            filter: brightness(0) invert(1);
        }
  </style>
{{/section}}

{{#section 'js'}}
<script>
    // Create, Edit, Delete Ads Format
    // Create
    $(document).ready(function() {
        $('#addAdsTypeForm').submit(function(e) {
            e.preventDefault();

            const name = $('#adsTypeFormName').val();

            const data = {
                name: name,
            };

            fetch('/api/v1/adsFormat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Lỗi khi thêm hình thức quảng cáo:', error);
            });
        });
    });
    
    // Edit
    $(document).ready(function() {
        $(document).on('submit', '#editAdsTypeForm', function(e) {
            e.preventDefault();

            const name = $(this).find('#edit_adsFormatName').val();
            const id = $(this).find('#edit_adsFormatName').attr('data-id');

            const data = {
                name: name,
            };

            fetch(`/api/v1/adsFormat/${id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error editing ads format:', error);
            });
        });
    });
</script>
<script>

    function formatDate(date) {
        const date_ = new Date(date);

        const day = date_.getDate();
        const month = date_.getMonth() + 1;
        const year = date_.getFullYear();

        const date_format = `${(month < 10 ? '0' : '') + month}/${(day < 10 ? '0' : '') + day}/${year}`;

        return date_format;
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/v1/adsFormat', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then((response) => response.json())
        .then((adsFormat_data) => {
            if (!adsFormat_data) {
                return;
            }
            console.log(adsFormat_data);

            for (let i = 0; i < adsFormat_data.count; ++i) {
                adsFormat = adsFormat_data.adsFormats[i];

                // Format date
                const createdDate = formatDate(adsFormat.createdAt);
                const updatedDate = formatDate(adsFormat.updatedAt);

                $('#listType_modalAddition').append(`
                    <div
                        class='modal fade'
                        id='editAdsFormatTypeModal-${i}'
                        tabindex='-1'
                        aria-labelledby='reportModalLabel-${i}'
                        aria-hidden='true'
                    >
                        <div class='modal-dialog'>
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <img
                                        src='../../../public/assets/icons/Edit_icon_orange.svg'
                                        style='height: 40px; width: 40px;'
                                    />
                                    <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                        Chỉnh sửa thông tin
                                    </h5>
                                    <button
                                        type='button'
                                        class='btn-close'
                                        data-bs-dismiss='modal'
                                        aria-label='Close'
                                    ></button>
                                </div>
                                <div class='modal-body'>
                                    <form class='report-form' id='editAdsTypeForm' enctype='multipart/form-data'>
                                        <div class='mb-3'>
                                            <label for='adsFormatName' class='form-label' style='font-family: Inter;'>Loại hình quảng cáo</label>
                                                <input
                                                    type='text'
                                                    class='form-control fullNameReport'
                                                    id='edit_adsFormatName'
                                                    value="${adsFormat.name}"
                                                    data-id="${adsFormat._id}"
                                                    required
                                                />
                                        </div>
                                        <div class='button-container justify-content-center'>
                                            <div
                                                id='recaptcha'
                                                class='g-recaptcha'
                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                data-callback='onSubmit'
                                                data-size='invisible'
                                            ></div>
                                            <div class="d-flex justify-content-center">
                                                <div class='d-grid col-md-3 mx-2'>
                                                    <button
                                                        id='deleteButton'
                                                        type='submit'
                                                        class='btn btn-outline-danger btn-block'
                                                        style='font-family: Inter'
                                                    >
                                                        XÓA
                                                    </button>
                                                </div>
                                                <div class='d-grid col-md-3 mx-2'>
                                                    <button
                                                        id='saveAdsTypeButton'
                                                        type='submit'
                                                        class='btn btn-success btn-block'
                                                        style='font-family: Inter'
                                                    >
                                                        LƯU
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                `).promise().done(function() {
                    $('#adsFormat_body').append(`
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">${i + 1}</h6>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${adsFormat.name}</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${createdDate}</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${updatedDate}</p>
                            </td>
                            <td class="border-bottom-0">
                                <button
                                    type="button"
                                    class="btn btn-outline-warning m-1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editAdsFormatTypeModal-${i}">
                                    <div id="buttonStyle">
                                        <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                        Chỉnh sửa
                                    </div>
                                </button>
                            </td>
                        </tr>
                    `);
                });
            }
        })

        fetch('/api/v1/reportFormat', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then((response) => response.json())
        .then((reportFormat_data) => {
            if (!reportFormat_data) {
                return;
            }
            console.log(reportFormat_data);

            for (let i = 0; i < reportFormat_data.count; ++i) {
                reportFormat = reportFormat_data.reportFormats[i];

                // Format date
                const createdDate = formatDate(reportFormat.createdAt);
                const updatedDate = formatDate(reportFormat.updatedAt);

                $('#listType_modalAddition').append(`
                    <div
                        class='modal fade'
                        id='editReportTypeModal-${i}'
                        tabindex='-1'
                        aria-labelledby='reportModalLabel-${i}'
                        aria-hidden='true'
                    >
                        <div class='modal-dialog'>
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <img
                                        src='../../../public/assets/icons/Edit_icon_orange.svg'
                                        style='height: 40px; width: 40px;'
                                    />
                                    <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                        Chỉnh sửa thông tin
                                    </h5>
                                    <button
                                        type='button'
                                        class='btn-close'
                                        data-bs-dismiss='modal'
                                        aria-label='Close'
                                    ></button>
                                </div>
                                <div class='modal-body'>
                                    <form class='report-form' id='editReportTypeForm' enctype='multipart/form-data'>
                                        <div class='mb-3'>
                                            <label for='reportFormatName' class='form-label' style='font-family: Inter;'>Hình thức báo cáo</label>
                                            <input
                                                type='text'
                                                class='form-control fullNameReport'
                                                id='edit_reportFormatName'
                                                value="${reportFormat.name}"
                                                required
                                            />
                                        </div>
                                        <div class='button-container justify-content-center'>
                                            <div
                                                id='recaptcha'
                                                class='g-recaptcha'
                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                data-callback='onSubmit'
                                                data-size='invisible'
                                            ></div>
                                            <div class="d-flex justify-content-center">
                                                <div class='d-grid col-md-3 mx-2'>
                                                    <button
                                                        id='deleteButton'
                                                        type='button'
                                                        class='btn btn-outline-danger btn-block'
                                                        style='font-family: Inter'
                                                    >
                                                        XÓA
                                                    </button>
                                                </div>
                                                <div class='d-grid col-md-3 mx-2'>
                                                    <button
                                                        id='saveReportTypeButton'
                                                        type='submit'
                                                        class='btn btn-success btn-block'
                                                        style='font-family: Inter'
                                                    >
                                                        LƯU
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                `).promise().done(function() {
                    $('#reportFormat_body').append(`
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">${i + 1}</h6>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${reportFormat.name}</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${createdDate}</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">${updatedDate}</p>
                            </td>
                            <td class="border-bottom-0">
                                <button
                                    type="button"
                                    class="btn btn-outline-warning m-1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editReportTypeModal-${i}">
                                    <div id="buttonStyle">
                                        <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                        Chỉnh sửa
                                    </div>
                                </button>
                            </td>
                        </tr>
                    `);
                });
            }
        })
    });
</script>
{{/section}}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 pb-4">
            <h5 class="card-title fw-semibold mb-4">Các phân loại</h5>
            <div class="card w-100 mt-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">
                            <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" />
                            Các loại hình quảng cáo
                        </h5>
                        <button
                        type="button"
                        class="btn btn-success m-1"
                        data-bs-toggle="modal"
                        data-bs-target="#addAdsTypeModal">
                            <div>
                                <img src="../../../public/assets/icons/Add_icon_white.svg" alt="" width="24" height="24" />
                                Thêm loại hình quảng cáo
                            </div>
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">#</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tên loại hình quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày cập nhật mới nhất</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="adsFormat_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card w-100 mt-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title fw-semibold mb-4">
                            <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" />
                            Các loại hình thức báo cáo
                        </h5>
                        <button
                        type="button"
                        class="btn btn-success m-1"
                        data-bs-toggle="modal"
                        data-bs-target="#addReportTypeModal">
                            <div>
                                <img src="../../../public/assets/icons/Add_icon_white.svg" alt="" width="24" height="24" />
                                Thêm hình thức báo cáo
                            </div>
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">#</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tên hình thức báo cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày tạo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày cập nhật mới nhất</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="reportFormat_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách các phân loại</title>

<div id="listType_modalAddition"></div>

{{> addAdsType}}
{{> addReportType}}