{{#section 'css'}}
    <link href='public/css/utils.maps.css' rel='stylesheet' />
    <link rel="stylesheet" href="/public/css/adpointInfo.css">
{{/section}}

<div id='root'>
    <div id='left-bar' class='col'>
        <div class='input-group mb-3 flex-nowrap shadow-sm'>
            <button
                class='btn btn-outline-secondary primary-background'
                type='button'
                id='button-addon2'
            >Tìm</button>
            <input
                type='text'
                class='form-control'
                placeholder='Địa điểm'
                aria-label='Địa điểm'
                aria-describedby='button-addon2'
                id='searchInput'
            />
        </div>
        <h3>Các bảng quảng cáo</h3>
        <div id="boards-container"></div>
    </div>
    <div id='map'>
    </div>
</div>

<!-- Filter Board -->
<div class='filterBoard form-check form-switch'>
    <input class='form-check-input' type='checkbox' role='switch' id='filterButton' checked />
    <label class='form-check-label' for='filterButton'>Quy hoạch</label>
</div>


{{#section 'js'}}
    {{! Marker Clusterer }}
    <script src='https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js'></script>

    {{! Google Maps Functions }}
    <script src='public/js/utils.maps.js' type='module'></script>
    <script>
        const nav = $( "#navbar" )
        $( document ).ready( function() {
            $( "#map" ).css( {"height": $(window).height() - nav.height() - 16} );
        } );

        $( window ).on( "resize", function() {
            $( "#map" ).css( {"height": $(this).height() - nav.height() - 16} );
        } );
    </script>
{{/section}}

<title>Cán bộ</title>