<div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Loại bảng quảng cáo</h5>
            <p class='mb-0 text-primary fw-semibold' id="adsBoardType">{{adsBoardType}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Địa điểm:</h5>
            <p class='mb-0' id="locationName">{{../adsPoint.location.locationName}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Địa chỉ</h5>
            <p class='mb-1' id="address">{{../adsPoint.location.address}}</p>
            <div class="map-view-only mt-2 rounded"></div>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Loại vị trí</h5>
            <p class='mb-0' id="locationType">{{../adsPoint.locationType}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Hình thức quảng cáo</h5>
            <p class='mb-0' id="adsFormat">{{../adsPoint.adsFormat.name}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
            {{#ifCond ../adsPoint.planningStatus "===" "Đã quy hoạch"}}
            <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
            {{else}}
            <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
            {{/ifCond}}
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Kích thước</h5>
            <p class='mb-0' id="size">{{size.width}}m x {{size.height}}m</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Số lượng</h5>
            <p class='mb-0' id="quantity">{{quantity}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Hình ảnh</h5>
            {{#each adsBoardImages as |image|}}
            <img src="{{image}}" width="650" class="mb-2"/>
            {{else}}
            <p class='mb-0 text-warning fw-semibold'>Không có hình ảnh</p>
            {{/each}}
        </div>
    </div>
    {{#each adsLicenseRequest as |adsLicenseRequest|}}
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Tên công ty đặt quảng cáo</h5>
            <p class='mb-0' id="contractEndDate">{{companyInfo.name}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Email công ty</h5>
            <p class='mb-0' id="contractEndDate">{{companyInfo.email}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Điện thoại công ty</h5>
            <p class='mb-0' id="contractEndDate">{{companyInfo.phone}}</p>
        </div>
    </div>
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold'>Địa chỉ công ty</h5>
            <p class='mb-0' id="contractEndDate">{{companyInfo.address}}</p>
        </div>
    </div>
    {{/each}}
    <div class="row gx-2">
        {{#each adsLicenseRequest as |adsLicenseRequest|}}
        <div class='col-md-6'>
            <div class='card border'>
                <div class='card-body'>
                    <h5 class='card-title fw-semibold mb-4'>Ngày bắt đầu hợp đồng</h5>
                    <p class='mb-0'>{{contractStartDate}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <div class='col-md-6'>
            <div class='card border'>
                <div class='card-body'>
                    <h5 class='card-title fw-semibold mb-4'>Ngày kết thúc hợp đồng</h5>
                    <p class='mb-0'>{{contractEndDate}}</p>
                </div>
            </div>
        </div>
    </div>
    {{#each adsLicenseRequest as |adsLicenseRequest|}}
    <div class='card border'>
        <div class='card-body'>
            <h5 class='card-title fw-semibold mb-4'>Tình trạng cấp phép</h5>
            {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                <div class="d-flex gap-2">
                    <span class="badge bg-success rounded-3 fw-semibold">Đã được duyệt</span>
                </div>
            {{else}}
                <div class="d-flex gap-2">
                    <span class="badge bg-warning rounded-3 fw-semibold">Chưa được duyệt</span>
                </div>
            {{/ifCond}}
        </div>
    </div>
    {{/each}}
</div>