<div
                    class="ad-board card default-background primary-text"
                    data-adsPoint="id_${adsBoard.adsPoint}"
                    style="width: 20rem; padding: 17px 17px; gap: 40px; min-width: 350px;"
                    >

                    
                    
                        <!-- Button to trigger the modal -->
                        <div style="display: flex; justify-content: space-between; align-items: center;">


                        </div>
</div>