
{{> navbar}}

{{#section 'css'}}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css" />
<link rel="stylesheet" href="http://localhost:4000/public/css/report.css" />
{{/section}}

{{#section 'js'}}
<script src="https://unpkg.com/js-datepicker"></script>
<script>
    const picker1 = datepicker('#dateExpired', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
    const picker2 = datepicker('#startContract', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
    const picker3 = datepicker('#endContract', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
</script>
{{/section}}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h5 class="card-title fw-semibold mb-4">Danh sách các quảng cáo yêu cầu cấp phép</h5>
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">
                        Quận 1
                    </h5>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Phường</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Bảng quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Điểm đặt quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Công ty đặt quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Ngày kết thúc</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Tình trạng</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">1</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsBoardModal">
                                            Ô ma chi
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsPointModal">
                                            Thanh Đa
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">China Banana</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">31/12/2023</p>
                                    </td>
                                    <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-success rounded-3 fw-semibold">Đã duyệt</span>
                                    </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-info m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailLicenseAdsBoardModal">
                                            Chi tiết
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-success m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#">
                                            Duyệt
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-outline-danger m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#requestEditAdsBoardModal">
                                            Không duyệt
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">1</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsBoardModal">
                                            Ô ma chi
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsPointModal">
                                            Thanh Đa
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">China Banana</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">31/12/2023</p>
                                    </td>
                                    <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-warning rounded-3 fw-semibold">Đang chờ duyệt</span>
                                    </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-info m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailLicenseAdsBoardModal">
                                            Chi tiết
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-success m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#">
                                            Duyệt
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-outline-danger m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#requestEditAdsBoardModal">
                                            Không duyệt
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách các cấp phép</title>

{{> detailAdsBoard}}
{{> detailAdsPoint}}
{{> detailLicenseAdsBoard}}
{{> requestEditAdsBoard}}